useDynLib(DR.SC, .registration=TRUE)
importFrom(Rcpp, evalCpp)
#exportPattern("^[[:alpha:]]+")

export(DR.SC,DR.SC.fit, gendata_spatial, read10XVisium, getAdj,wpca)
export(spatialPlotClusters, drscPlot, mbicPlot)

importFrom("Seurat", "RidgePlot", "VlnPlot", "FeaturePlot", "DotPlot", "DoHeatmap")

S3method("DR.SC","Seurat")

